body{
    background-color: blueviolet;
}
h1{
    text-align: center;
    color: white;
}

form{
    background-color: white;
    width: 350px;
    height: 400px;
    border-radius: 15px;
    margin: 0px auto 0px auto;
}
fieldset{
    border: none;
}
textarea{
    resize: none;
    overflow-y: scroll;
}